body {
    max-width: 1584px;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* --------------------
Common styles
-------------------- */

section {
    margin: 130px 14.5vw 0;
}

.headline {
    font-size: 4vw;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 24px;
}

.title {
    font-size: 2.5vw;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}

.sub-title {
    font-size: 2vw;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;
}

.btn-primary {
    color: #005FAC;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 1.25vw;
    font-weight: 600;
    padding: 1.25vw 1.5vw;
}

/*---------------------------
styles of header section
----------------------------*/

header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 13.5vw 14.5vw 10.5vw;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.banner .description {
    color: #FFFFFF;
    margin-bottom: 32px;
}

/*----------------------------
Styles of my failure section
-----------------------------*/


.my-failure {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my-failure-picture {
    width: 40%;
}

.my-failure-picture img {
    width: 100%;
}

.my-failure-content {
    width: 40%;
}

.my-failure .description {
    color: #A2A1A1;
}

.fa-check {
    color: #F2F609;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 10px 8px 0;
}

/*-------------------------
Styles of my plan section
--------------------------*/

.my-plans .title {
    text-align: center;
    margin-bottom: 50px;
}

.my-plans .sub-title {
    font-size: 1.5vw;
}

.my-plan {
    display: flex;
    justify-content: space-between;
}

.my-plan-content {
    text-align: center;
}

/*----------------------------------
Styles of positive mindset section
----------------------------------*/

.positive-mindset {
    border-radius: 8px;
    /* color: #FFFFFF; */
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
    padding: 3vw 3vw;
}

.positive-mindset .title {
    color: #FFFFFF;
}

/*
Styles of footer section

footer {
    padding: 130px 230px;
    background-color: #151414;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.future {
    width: 50%;
}

.future-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.future-description {
    margin-bottom: 30px;
}

.future-icons {
    display: flex;
    gap: 20px;
}

.subscribe {
    width: 30%;
}

.subscribe-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.subscribe input {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    width: 100%;
} */

/* ---------------------
    Responsive styles
----------------------- */

@media screen and (max-width:688px) {

    header {
        background-image: linear-gradient(to right, rgba(0, 1, 7, 0.97), rgba(52, 36, 36, 0.708)), url('../images/banner/banner3.png');
        flex-direction: row;
        text-align: left;
    }

    .my-failure,
    .my-plan {
        flex-direction: column;
        justify-content: center;
    }

    .my-failure-picture,
    .my-failure-content {
        width: 100%;
    }

    .my-failure-picture,
    .my-plan-content {
        margin-bottom: 24px;
    }

    .my-failure-content .title {
        text-align: center;
    }
}

@media screen and (min-width:689px) and (max-width:992px) {
    header {
        background-image: linear-gradient(to left, rgba(0, 1, 7, 0.97), rgba(52, 36, 36, 0.708)), url('../images/banner/banner3.png');
    }

    .my-failure-picture,
    .my-failure-content {
        width: 45%;
    }
}

.hide {
    display: none;
}